body{
    background-image: linear-gradient(to left, rgba(248, 6, 6, 0.897), #228B22);
    text-align: center;
    text-shadow: rgba(255, 0, 0, 0.699) 2px 2px;    
}
h1{
 margin-bottom: 30px;
 text-align: center;
}

img{
height: 200px;
}

tr, td{
padding: 50px;
}
td{
text-align: center;
}
button{
text-align: center;
margin: 5px;
font-size: medium;
background-color: rgba(210, 197, 221, 0.884);
border: 2px solid;
border-radius: 10px;
font-weight: 600;
font-family: Georgia, 'Times New Roman', Times, serif;
text-shadow: rgba(128, 15, 0, 0.24) 2px 2px;

}
a:link{
color: rgb(20, 2, 2);
}
a:visited{
color: black;
}
/*To Top*/
.stt{
position: fixed;
right: 1rem;
bottom: 3rem;
width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
border: 2px solid;
background: #165008 url("arrow-up-svgrepo-com (1).svg") center no-repeat;
background-size: 20px 20px;
box-shadow: 0 0.5rem 0.75rem 0 rgb(10, 2, 2);
opacity: 1;
}

.stt:hover{
opacity: 0.8;
}

.stt:active{
opacity: 1;
}
/*To Bottom*/
.sst{
position: fixed;
right: 1rem;
bottom: 1rem;
width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
border: 2px solid;
background: #e20b0b9c url("arrow-down-svgrepo-com.svg") center no-repeat; 
box-shadow: 0 0.5rem 0.75rem 0 rgb(2, 1, 1);
background-size: 20px 20px;
opacity: 1;

}
.sst:hover{
opacity: 0.8;
}
.sst:active{
opacity: 1;
}
html{
scroll-behavior: smooth;
}
@media(max-width:680px){
h1{
    font-size: 1.5rem;
}
tr, td{
 
 display: block;
 width: 245px;
 padding: 25px;
}
body{
font-size:0.98rem;
}
img{
height: 150px;
}
button{
    text-align: center;
    margin: 1px;
    font-size: medium;
    background-color: rgba(210, 197, 221, 0.884);
    border: 2px solid;
    border-radius: 10px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: rgba(128, 15, 0, 0.24) 2px 2px;
    
    }
}